# Root folder ignores
/.idea/

# CHardwareInterface ignored files / folders
/CHardwareInterface/nbproject/private/
/CHardwareInterface/build/
/CHardwareInterface/dist/

# Sensors ignored files / folders
/Sensors/build/
/Sensors/dist/
/Sensors/nbproject/private/

# JSensors ignored files / folders
/JSensors/build/
/JSensors/dist/
/JSensors/nbproject/private/

# KSensors ignored files / folders
/KSensors/lib/
/KSensors/out/

